{% extends 'base.html.twig' %}

{% block title %}{{ movie.title }} | {{ parent() }}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col col-md-4">
            <img src="{{ asset('img/posters/' ~ movie.image) }}" alt="{{ movie.title }}">
            <div>
                {% if inWatchlist %}
                    <a class="remove-btn btn btn-warning" href="{{ path('watchlist_remove', {'id': movie.id}) }}">Remove from watchlist</a>
                {% else %}
                    <a class="add-btn btn btn-success" href="{{ path('watchlist_add', {'id': movie.id}) }}">Add to watchlist</a>
                {% endif %}
                </div>

            <div>Added on {{ movie.dateCreated|date("Y-m-d") }}</div>

            <h5>Links</h5>
            <div>
                <a href="http://www.imdb.com/title/{{ movie.image|slice(0,9) }}/">IMDB</a>
            </div>
        </div>
        <div class="col col-md-8">
            <h1>{{ movie.title }} <span class="year">{{ movie.year }}</span></h1>
            <div class="rating">{{ movie.rating }} / 10</div>

            <h5>Stars</h5>
            <div>
                {% for actor in movie.actors|split(' / ') %}
                    {{ actor }}
                    {% if not loop.last %}, {% endif %}
                {% endfor %}
            </div>

            <h5>Directors</h5>
            <div>{{ movie.directors|replace({' /': ','}) }}</div>

            <h5>Plot</h5>
            <div>{{ movie.plot }}</div>

            <h5>Trailer</h5>
            <!-- https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php -->
            <div class="videoWrapper">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ movie.trailerId }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>

            <h5>Runtime</h5>
            {% set runtime_h = (movie.runtime / 60)|round(0, 'floor') %}
            {% set runtime_m = movie.runtime % 60 %}
            {% set runtime_m = (runtime_m < 10) ? '0'~runtime_m : runtime_m %}
            <div>{{ runtime_h }}h{{ runtime_m }}</div>

            <h5>Reviews</h5>
            <div>
                {% if app.user %}
                    {{ form_start(reviewForm) }}
                    {{ form_widget(reviewForm) }}
                    <button class="btn btn-success">Send!</button>
                    {{ form_end(reviewForm) }}
                {% else %}
                    <a href="{{ path('login') }}">Login to post a review</a>
                {% endif %}
            </div>

            <h5>Last reviews</h5>
            <div>
                {% for review in reviews %}
                <div>
                    <h6>{{ review.title }}</h6>
                    <p>By {{ review.author.username }}
                        on {{ review.dateCreated|date('Y-m-d H:i') }}</p>
                    <div>{{ review.content }}</div>

                    {% if review.author == app.user %}
                        <a class="btn btn-danger" href="{{ path('review_delete', {'id': review.id}) }}">Delete my review!</a>
                    {% endif %}
                </div>
                {% else %}
                    <h6>No reviews yet!</h6>
                {% endfor %}
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(".remove-btn, .add-btn").on("click", function(e){
            e.preventDefault();
            var url = $(this).attr("href");
            $.ajax({
                url: url
            }).done(function(response){
                //$(".remove-btn")
                //    .addClass("add-btn")
                //    .removeClass("remove-btn")
                //   .attr("href", "coucou");
            });
        })
    </script>
{% endblock %}

{% block css %}
    body {
        background-image: url('{{ asset('img/backgrounds/' ~ movie.image) }}');
    }
{% endblock %}