{# les commentaires Twig #}
{# templates/default/home.html.twig #}
{% extends 'base.html.twig' %}

{% block main %}

    <nav class="pagination-nav">
        {% if prevPage >= 1 %}
        <a class="btn btn-default"
           href="{{ path('home', {'page': prevPage}) }}">Prev page</a>
        {% endif %}

        {% if nextPage <= lastPage %}
        <a class="btn btn-default"
           href="{{ path('home', {'page': nextPage}) }}">Next page</a>
        {% endif %}
    </nav>

    <div class="movies">
        {% for movie in movies %}
            <article class="movie">
                <a href="{{ path('movie_detail', {'id': movie.id}) }}" title="{{ movie.title }}">
                    <img src="{{ asset('img/posters/' ~ movie.image) }}" alt="{{ movie.title }}">
                </a>
            </article>
        {% endfor %}
    </div>

{% endblock %}

{% block title %}Movies!{% endblock %}