{# les commentaires Twig #}
{# templates/default/home.html.twig #}
{% extends 'base.html.twig' %}

{% block main %}

    <nav class="pagination-nav">
{# on combine les paramètres d'URL de recherche avec le nouveau numéro de page !!#}
{# merci à https://stackoverflow.com/questions/15606332/symfony2-twig-dealing-with-getting-url-query-string-values?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa #}
        {% if prevPage >= 1 %}
            {% set queryParams = app.request.query.all|merge({page: prevPage}) %}
            <a class="btn btn-primary"
           href="{{ path('home', queryParams) }}">Prev page</a>
        {% else %}
            <a href="#" class="btn disabled">Prev page</a>
        {% endif %}
        <div>{{ totalResults }} movies</div>
        {% if nextPage <= lastPage %}
            {% set queryParams = app.request.query.all|merge({page: nextPage}) %}
            <a class="btn btn-primary"
           href="{{ path('home', queryParams) }}">Next page</a>
        {% else %}
            <a href="#" class="btn disabled">Next page</a>
        {% endif %}
    </nav>
    <div>
        {% form_theme searchMovieForm 'bootstrap_4_horizontal_layout.html.twig' %}
        {{ form(searchMovieForm, {'attr': {'class': 'form-inline'}}) }}
    </div>


    <div class="movies">
        {% for movie in movies %}
            <article class="movie">
                <a href="{{ path('movie_detail', {'id': movie.id}) }}" title="{{ movie.title }}">
                    <img src="{{ asset('img/posters/' ~ movie.image) }}" alt="{{ movie.title }}">
                </a>
            </article>
        {% endfor %}
    </div>

{% endblock %}

{% block title %}Movies!{% endblock %}